<%= form_tag "/games", method: :post do %>
  <div class="form-group">
    <%= label_tag :name %>
    <%= text_field_tag :name, "", placeholder: "Game Name", class: "form-control" %>
  </div>
  <div>
    <%= submit_tag "Create Game!" %>
  </div>
<% end %>