.platform-logo {
  max-width: 50px;
  max-height: 30px;
}

.game-cover {
  max-width: 200px;
  max-height: 150px;
}

header {
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

.contact-login-img-area::before {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.contact-login-img-area {
  position: relative;
}
.contact-login-img-area {
  background-color: transparent;
  background-image: url("img/bg-banner/bg-pagetitle.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  padding: 25px 0 25px;
}