.platform-logo {
  max-width: 50px;
  max-height: 30px;
}

.game-cover {
  max-width: 200px;
  max-height: 150px;
}

header {
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

.contact-login-img-area::before {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.contact-login-img-area {
  position: relative;
}
.contact-login-img-area {
  background-color: transparent;
  background-image: url("img/bg-banner/bg-pagetitle.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  padding: 25px 0 25px;
}

.cart-table .sop-cart.an-sh .tb-beg > a {
  float: none;
}

.show-border-top {
  border-top: 1px solid #e5e5e5;
  padding: 15px 0 15px;
}

.cras .pre-box span.special-price {
  border-bottom: 0px solid #ddd;
  margin-bottom: 0px;
}

.alert {
  margin-bottom: 0px;
}

.games-index-padding-top {
  padding-top: 30px;
}

.left-header-top-border {
  border-left: 1px solid #fff;
  padding-left: 10px;
}

.left-header-top-color {
  color: #fff;
}

.pagination-overline-underline {


}

.user-games-pages-color li a {
  color: #ffffff;
}

.user-games-contact-img-area::before {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.user-games-contact-img-area {
  position: relative;
}
.user-games-contact-img-area {
  background-color: transparent;
  background-image: url("img/bg-banner/bg-pagetitle.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  padding: 200px 0 0px;
}

.games-show-platforms-ul {
  list-style: disc outside none;
}

.games-show-platforms-li {
  float: none;
}

.games-show-genres p {
  text-align: center;
  font-size:14px;
}

.games-show-genres-title {
  float: left;
}

.games-show-table-color {
  color: rgb(193, 81, 56);
}

.games-show-table-color a {
  color: rgb(193, 81, 56);
}

.user-games-section-title h3 {
    color: #ef6644;
    display: inline-block;
    line-height: 19px;
    margin-bottom: 7px;
    position: relative;
    text-decoration: underline;
}

.user-games-section-title {
  text-align: center;
  margin-bottom: 15px;
}