<footer class="re-footer-section">

  <!-- footer-top area start -->

  <!-- footer-top area end -->

  <!-- footer-bottom area start -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <p><span style="float:left;">&copy; 2016 Devitems. All Rights Reserved.</span> <a href="https://www.igdb.com" class="left-header-top-color" style="float:right;">API provided by IGDB</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- footer-bottom area end -->

</footer>